{% extends 'base.html' %}
{% block title %}Add Recipe{% endblock %}
{% block content %}
<h1 class="text-center text-light">Add a Recipe!</h1>
<div class="container-fluid">
    <form action="" id="add_recipe_form" method="post" class="">
        {{ form.hidden_tag() }}
        <div id="ingredient-fields-container" class="d-flex justify-content-start row">
            {% for field in form if field.widget.input_type != 'hidden'%}
            {% if field.type != 'FieldList' %}
            <div class="col-8">
                {{ field.label(class_="form-label text-light") }}
                {{field(class_="form-control")}}
                {% if field.errors %}
                {% for error in field.errors %}
                <b>{{ error }}</b>
                {% endfor %}
                {% endif %}
            </div>
            {% else %}
            <div class="d-grid gap-2 text-light">
                {{ field.labe }}
                {{ field }}
                {% if field.errors %}
                {% for error in field.errors %}
                <b>{{ error }}</b>
                {% endfor %}
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>


        <div class="d-grid m-4 col-1">
            <button type="button" class="btn btn-primary" id="add-field-btn">+</button>
        </div>
        <div class="d-grid col-3 m-4">
            <button type="submit" class="btn btn-success">Add Recipe</button>
        </div>
    </form>
</div>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        const maxFields = 5;
        const ingredientFieldsContainer = document.getElementById('ingredient-fields-container');
        const addFieldBtn = document.getElementById('add-field-btn');
        const ingredientsList = document.getElementById('ingredients');
        const firstIngredient = ingredientsList.firstElementChild;
        const firstIngredientInput = document.getElementById('ingredients-0');
        firstIngredient.className = 'ingredient-field';
        firstIngredient.firstElementChild.innerText = 'Ingredient-1';
        console.log(firstIngredientInput);
        function updateFieldNames() {
            const ingredientFields = document.querySelectorAll('.ingredient-field input');
            ingredientFields.forEach((field, index) => {
                field.name = `ingredients-${index}-ingredient_name`;
                field.id = `ingredients-${index}-ingredient_name`;
                field.labels[0].setAttribute('for', `ingredients-${index}`);
            });
        }

        addFieldBtn.addEventListener('click', function () {
            const fieldCount = ingredientFieldsContainer.querySelectorAll('.ingredient-field').length;
            if (fieldCount < maxFields) {
                const newField = document.createElement('li');
                newField.className = 'ingredient-field text-light';
                newField.innerHTML = `
                    <label for="ingredients-${fieldCount}">Ingredient-${fieldCount + 1}</label>
                    <table id="ingredients-${fieldCount}">
                        <tbody>
                            <tr>
                                <th><label for="ingredients-${fieldCount}-ingredient_name">Ingredient:</label></th>
                                    <td><input id="ingredients-${fieldCount}-ingredient_name" name="ingredients-${fieldCount}-ingredient_name" required="" type="text" value=""></td>
                            </tr>
                            <tr>
                                <th><label for="ingredients-${fieldCount}-measurement">Measurement:</label></th>
                                    <td><input id="ingredients-${fieldCount}-measurement" name="ingredients-${fieldCount}-measurement" required="" type="text" value=""></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-danger d-grid m-4 remove-field-btn" onclick="removeField(this)">-</button>
                    `;
                ingredientsList.appendChild(newField);
            }
        });

        window.removeField = function (btn) {
            const fieldCount = ingredientFieldsContainer.querySelectorAll('.ingredient-field').length;
            if (fieldCount > 1) {
                btn.parentElement.remove();
            }
        };
    });
</script>
{% endblock %}