{% extends 'base.html' %}
{% block title %}Edit Recipe{% endblock %}
{% block content %}
<h1>Edit Recipe</h1>
<h1>{{nums}}</h1>
<div class="row justify-content-center">
    <div class="container-fluid">
        <form action="/recipes/{{recipe.id}}/update" id="edit_recipe_form" method="post"
            class="form-control bg-secondary-subtle">
            <div class="col">
                <label for="title">Title: <input type="text" value="{{recipe.title}}" name="title" id=""
                        class="form-control"></label>
            </div>
            {% for ingredient in recipe.ingredients %}
            <div class="col">
                <label for="ingredient_name">Ingredient: <input type="text" value="{{ingredient.ingredient_name}}"
                        name="ingredient_name" id="" class="form-control"></label>
                <label for="measurement">Measurement: <input type="text" value="{{ingredient.measurement}}"
                        name="measurement" id="" class="form-control"></label>
            </div>
            {% endfor %}
            <div class="col">
                <label for="instructions">Instructions: <input type="text" value="{{recipe.instructions}}"
                        name="instructions" id="" class="form-control"></label>
            </div>
            <div class="d-grid m-4 col-2">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}