{% extends 'base.html' %}
{% block title %}Recipe Search{% endblock %}
{% block content %}
<div class="text-center">
  <h1 class="m-2 text-light">Search results for "{{searched}}"</h1>
  <div class="container-fluid">
    <div class="d-flex justify-content-center row">
      {% for recipe in recipes.items %}
      <div class="card text-center col-5 m-4 bg-dark text-light">
        <div class="card-header">
          <h5>{{recipe.title}}</h5>
        </div>
        <div class="card-body">
          <img src="{{recipe.image}}" class="img-fluid rounded m-2" height="350" width="350" alt="">
          {% for ingredient in recipe.ingredients %}
          <p class="card-text">Ingredient: {{ingredient.ingredient_name}} Measurement: {{ingredient.measurement}}</p>
          {% endfor %}
          <p class="card-text">{{recipe.instructions}}</p>
          {% if recipe.author == session['username'] %}
          <form action="get" class="d-flex justify-content-center">
            <button formaction="/recipes/{{recipe.id}}/update"
              class="btn btn-sm btn-primary d-grid col-2 m-2">Edit</button>
          </form>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="">
      {% for page_num in recipes.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
      {% if page_num %}
      {% if recipes.page == page_num %}
      <a href="{{url_for('search', searched = searched, page = page_num)}}" class="btn btn-light mb-4">{{page_num}}</a>
      {% else %}
      <a href="{{url_for('search', searched = searched, page = page_num)}}"
        class="btn btn-outline-light mb-4">{{page_num}}</a>
      {% endif %}
      {% else%}
      ...
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}